.section-with-background-1 {
    background-image: url("../img/png/dance/detail/Background-Black-2.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.title-banner-light-purple, .title-banner-acid-yellow {
    font-size: 9rem;
}

.title-banner-acid-yellow {
    margin-left: 40px;
}

.concert-heart-image {
    margin-top: 30rem;
}

.position-up {
    margin-top: -15rem;
}