@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-a: #E86F52;
    --secondary-a: #F3A261;
    --tetiare-a: #E9C46B;
    --primary-b: #264653;
    --secondary-b: #2A9D8E;
    --acid-yellow: #A2FD2D;
    --light-purple: #B960FF;
    --dark-purple: #9847D9;
    --dance-gradient: linear-gradient(90deg, rgba(185,96,255,1) 0%, rgba(162,253,45,1) 100%);
    --teyler-primary-a: #D75745;
    --teyler-primary-b: #5BC0EB;
    --teyler-secondary-b: #235789;
}

@font-face {
    font-family: Druk;
    font-style: normal;
    font-weight: normal;
    src: url("/font/Druk-Medium-Trial.ttf") format('truetype');
}

@font-face {
    font-family: Druk-Italic;
    font-style: italic;
    font-weight: normal;
    src: url("/font/Druk-MediumItalic-Trial.ttf") format("truetype");
}

@font-face {
    font-family: Druk-Bold;
    font-style: normal;
    font-weight: bold;
    src: url("/font/Druk-Bold-Trial.ttf") format("truetype");
}

@font-face {
    font-family: Druk-BoldItalic;
    font-style: italic;
    font-weight: bold;
    src: url("/font/Druk-BoldItalic-Trial.ttf") format("truetype");
}

@font-face {
    font-family: Druk-Heavy;
    font-style: normal;
    font-weight: bolder;
    src: url("/font/Druk-Heavy-Trial.ttf") format("truetype");
}

@font-face {
    font-family: Druk-HeavyItalic;
    font-style: italic;
    font-weight: bolder;
    src: url("/font/Druk-HeavyItalic-Trial.ttf") format("truetype");
}

@font-face {
    font-family: Druk-Super;
    font-style: normal;
    font-weight: bolder; /* most bold */
    src: url("/font/Druk-Super-Trial.ttf") format("truetype");
}

@font-face {
    font-family: Druk-SuperItalic;
    font-style: italic;
    font-weight: bolder; /* most bold */
    src: url("/font/Druk-SuperItalic-Trial.ttf") format("truetype");
}

@font-face {
    font-family: DrukText;
    font-style: normal;
    font-weight: normal;
    src: url("/font/DrukText-Medium-Trial.ttf") format("truetype");
}

@font-face {
    font-family: DrukText-Italic;
    font-style: italic;
    font-weight: normal;
    src: url("/font/DrukText-MediumItalic-Trial.ttf") format("truetype");
}

@font-face {
    font-family: DrukText-Bold;
    font-style: normal;
    font-weight: bold;
    src: url("/font/DrukText-Bold-Trial.ttf") format("truetype");
}

@font-face {
    font-family: DrukText-Super;
    font-style: normal;
    font-weight: bolder; /* most bold */
    src: url("/font/DrukText-Super-Trial.ttf") format("truetype");
}

@font-face {
    font-family: Kaph;
    font-style: normal;
    font-weight: normal;
    src: url("/font/Kaph-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Kaph-Italic;
    font-style: italic;
    font-weight: normal;
    src: url("/font/Kaph-Italic.ttf") format("truetype");
}

.bg-primary-a { 
    background: var(--primary-a);
}

.bg-secondary-a {
    background: var(--secondary-a);
}

.bg-tetiare-a {
    background: var(--tetiare-a);
}

.bg-primary-b {
    background: var(--primary-b);
}

.bg-secondary-b {
    background: var(--secondary-b);
}

.bg-acid-yellow {
    background: var(--acid-yellow);
}

.bg-light-purple {
    background: var(--light-purple);
}

.bg-dark-purple {
    background: var(--dark-purple);
}

.bg-dance-gradient {
    background: var(--dance-gradient);
}

.bg-teyler-primary-a {
    background: var(--teyler-primary-a);
}

.bg-teyler-primary-b {
    background: var(--teyler-primary-b);
}

.bg-teyler-secondary-b {
    background: var(--teyler-secondary-b);
}

.border-primary-a {
    border-color: var(--primary-a) !important;
}

.border-secondary-a {
    border-color: var(--secondary-a) !important;
}

.border-tetiare-a {
    border-color: var(--tetiare-a) !important;
}

.border-primary-b {
    border-color: var(--primary-b) !important;
}

.border-secondary-b {
    border-color: var(--secondary-b) !important;
}

.border-acid-yellow {
    border-color: var(--acid-yellow) !important;
}

.border-light-purple {
    border-color: var(--light-purple) !important;
}

.border-dark-purple {
    border-color: var(--dark-purple) !important;
}

.border-dance-gradient {
    border-color: var(--dance-gradient) !important;
}

.border-teyler-primary-a {
    border-color: var(--teyler-primary-a) !important;
}

.border-teyler-primary-b {
    border-color: var(--teyler-primary-b) !important;
}

.border-teyler-secondary-b {
    border-color: var(--teyler-secondary-b) !important;
}

.text-primary-a { 
    color: var(--primary-a);
}

.text-secondary-a {
    color: var(--secondary-a);
}

.text-tetiare-a {
    color: var(--tetiare-a);
}

.text-primary-b {
    color: var(--primary-b);
}

.text-secondary-b {
    color: var(--secondary-b);
}

.text-acid-yellow {
    color: var(--acid-yellow);
}

.text-light-purple {
    color: var(--light-purple);
}

.text-dark-purple {
    color: var(--dark-purple);
}

.text-dance-gradient {
    background: var(--dance-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-dance-banner {
    color: var(--light-purple);
    text-shadow: -3px -3px 0px var(--acid-yellow);
}

.text-teyler-primary-a {
    color: var(--teyler-primary-a);
}

.text-teyler-primary-b {
    color: var(--teyler-primary-b);
}

.text-teyler-secondary-b {
    color: var(--teyler-secondary-b);
}

.font-druk {
    font-family: Druk;
}

.font-druk-italic {
    font-family: Druk-Italic;
}

.font-druk-bold {
    font-family: Druk-Bold;
}

.font-druk-italic-bold, .font-druk-bold-italic {
    font-family: Druk-BoldItalic;
}

.font-druk-heavy {
    font-family: Druk-Heavy;
}

.font-druk-heavy-italic, .font-druk-italic-heavy {
    font-family: Druk-HeavyItalic;
}

.font-druk-super {
    font-family: Druk-Super;
}

.font-druk-super-italic, .font-druk-italic-super {
    font-family: Druk-SuperItalic;
}

.font-druktext {
    font-family: DrukText;
}

.font-druktext-italic {
    font-family: DrukText-Italic;
}

.font-druktext-bold {
    font-family: DrukText-Bold;
}

.font-druktext-super {
    font-family: DrukText-Super;
}

.font-kaph {
    font-family: Kaph;
}

.font-kaph-italic {
    font-family: Kaph-Italic;
}

.font-roboto {
    font-family: Roboto;
}

h1, h2 {
    font-family: Druk;
}

h3, h4, h5, h6 {
    font-family: DrukText;
}

p {
    font-family: Roboto;
}

.btn {
    font-family: DrukText;
}

/* Custom buttons based on the design provided in the following CodePen: https://codepen.io/ondrejsvestka/pen/NjxgVR */

.btn.btn-tetiare-a {
    background-color: var(--tetiare-a);
    border-color: var(--tetiare-a);
    color: var(--primary-b);
    border-radius: 0;
}

.btn.btn-tetiare-a:hover,
.btn.btn-tetiare-a:active,
.btn.btn-tetiare-a:focus,
.btn.btn-tetiare-a:active {
    background-color: #E9C46BD0;
    border-color: #E9C46BD0;
    color: var(--primary-b);
}

.btn.btn-tetiare-a:hover.btn-bg-same,
.btn.btn-tetiare-a:active.btn-bg-same,
.btn.btn-tetiare-a:focus.btn-bg-same,
.btn.btn-tetiare-a:active.btn-bg-same {
    color: #264653D0;
}

.btn.btn-primary-b {
    background-color: var(--primary-b);
    border-color: var(--primary-b);
    color: var(--tetiare-a);
    border-radius: 0;
}

.btn.btn-primary-b:hover,
.btn.btn-primary-b:active,
.btn.btn-primary-b:focus,
.btn.btn-primary-b:active {
    background-color: #264653D0;
    border-color: #264653D0;
    color: var(--tetiare-a);
}

.btn.btn-primary-b:hover.btn-bg-same,
.btn.btn-primary-b:active.btn-bg-same,
.btn.btn-primary-b:focus.btn-bg-same,
.btn.btn-primary-b:active.btn-bg-same {
    color: #E9C46BD0;
}

/* <--- STANDARD COMPONENTS ---> */

.navbar {
    font-family: Druk;
}

.navbar .nav-item > .nav-link {
    color: var(--tetiare-a);
}

.navbar .nav-item > .active {
    color: var(--primary-b)
}

.authBtn {
    min-width: 185px;
    width: 185px;
}

.footer-title {
    font-family: Druk;
}

.footer-text {
    font-family: Roboto;
}

.footer-input {
    min-height: 40px;
    height: 50px;
    max-height: 50px;
}

@media only screen and (max-width: 631px){
    .footer-input {
        height: 40px;
    }
}